body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

* {
  font-size: 16px;
  font-weight: 400;
  color: #3d3d3d;
}

.container {
  max-width: 600px;
  min-width: 300px;
  width: 86%;
  margin: 60px auto;
  padding: 0 12px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headline {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
}

#refreshSvg {
  fill: #8b8a8a;
  cursor: pointer;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li.task {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.treeDots {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
}

li.task.completed {
  text-decoration: line-through;
}

.completed-checkbox {
  margin-right: 10px;
}

input {
  border: none;
  outline: none;
}

#task-list {
  margin-bottom: 0;
}

#clearCompleted {
  background: none;
  border: none;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  color: #8b8a8a;
}

input::placeholder {
  font-style: italic;
}
